@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@layer components {
  .divider {
    @apply divide-x divide-y divider-color;
  }
  .divider-x {
    @apply divide-x divider-color;
  }
  .divider-y {
    @apply divide-y divider-color;
  }
  .divider-color {
    @apply divide-[#F2F2F2] divide-opacity-[5%];
  }

  .profile-link{
    @apply text-[40px] hover:text-[#BDFF22] uppercase;
  }
  
  .centered {
    @apply flex justify-center items-center;
  }

}

html,
body {
  padding: 0;
  margin: 0;
  background: #133558;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
